<li class="rounded-lg overflow-auto">
    #{{id}} | {{burger_name}}

    {{#if devoured}}
        <button class="delete-burger btn btn-warning btn-sm float-right" data-id="{{this.id}}">x</button><br>
    {{/if}}
    
    {{#unless devoured}}
    <input type='text' class='edit' style='display: none;'>
        <button type="button" class="change-devoured btn btn-outline-danger btn-sm" data-id="{{id}}" data-devouredstate="{{devoured}}">EAT</button>  
    {{/unless}}
</li>